.fullsec {
    height: 90vh;
}

.anchor {
    padding: 36px;
    margin-top: -36px;
    display: block;
    visibility: hidden;
}

a {
    color: white;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🇵🇹</text></svg>") 16 0,auto; /*emojicursor.app*/
}

a:hover {
    color: rgb(113, 38, 233);
}

.mobile-margin {
    margin-top: 170px;
}

::selection {
    background: rgba(255, 255, 255, 0.2);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.2);
    /* Gecko Browsers */
}

body {
    display: grid;
    grid-template-rows: 73px 500px 184px 600px 400px 200px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.span3{
    grid-column: span 3;
}
.span4{
    grid-column: span 4;
}
.span6{
    grid-column: span 6;

}
.span8{
    grid-column: span 8;

}
.span12 {
    grid-column: span 12;

}