.fullsec {
    height: 90vh;
}

.anchor {
    padding: 36px;
    margin-top: -36px;
    display: block;
    visibility: hidden;
}

a {
    color: white;
}

a:hover {
   color:rgb(113,38,233);
}

.mobile-margin {
    margin-top: 170px;
}

::selection {
    background: rgba(255, 255, 255, 0.2); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: rgba(255, 255, 255, 0.2); /* Gecko Browsers */
  }